body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #F8F8FF;
}
.box{
	width: 350px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #D3D3D3;
	text-align: center;
}
.box h1{
	color: black;
	font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #4682B4;
	width: 200px;
	padding: 14px 10px;
	outline: none;
	color: black;
	border-radius: 10px;
	transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
	width: 280px;
}
.box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid black;
	width: 100px;
	padding: 14px 10px;
	outline: none;
	color: black;
	border-radius: 10px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type = "submit"]:hover{
	background: #20B2AA;
}
